<launch>

  <arg name="multi_robot_name"      default=""/>
  <arg name="set_lidar_frame_id"    default="base_scan"/>
  <arg name="camera_filter"         default="pointcloud"/>
  <arg name="camera_type"           default="d435i"/>
  <arg name="camera_align_depth"    default="true"/>
  <arg name="camera_enable"         default="true"/>
  <arg name="scan_matcher"          default="false"/>

  <!--Delay rosserial-->
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" name="Delay_rosseiral" args="5 thesis_robot_bringup thesis_robot_rosserial.launch" output="screen"/>
  
  <!--Delay rplidar-->
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" name="Delay_rplidar" args="15 thesis_robot_bringup thesis_robot_rplidar.launch" output="screen"/>      

  <!--Delay scan matcher-->
  <node if="$(arg scan_matcher)" pkg="timed_roslaunch" type="timed_roslaunch.sh" name="Delay_rplidar" args="20 thesis_robot_bringup thesis_robot_scan_matcher.launch" output="screen"/>      

  <!-- Camera -->
  <include if="$(arg camera_enable)" file="$(find thesis_robot_bringup)/launch/thesis_robot_realsense.launch">
    <arg name="filters"             value="$(arg camera_filter)"/>
    <arg name="device_type"         value="$(arg camera_type)"/>
    <arg name="align_depth"         value="$(arg camera_align_depth)"/>
    <arg name="enable_infra1"       value="false"/>
    <arg name="enable_infra2"       value="false"/>
  </include>

</launch>
