<launch>

  <!-- Arguments -->
  <arg name="move_forward_only" default="true"/>
  <arg name="sensor_range" default="1.0"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="rviz" default="false"/>

  <include file="$(find thesis_robot_bringup)/launch/thesis_robot_rtabmap.launch"> <!-- including robot_remote, move_base-->
      <arg name="rviz" value="$(arg rviz)"/>
  </include>

  <!-- AMCL -->
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" name="Delay_amcl" args="9 robot_navigation amcl.launch" output="screen"/>

  <!-- move_base>
  <include file="$(find robot_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include-->

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" name="Delay_frontier_explorer" args="15 robot_explorer frontier_explorer.launch" output="screen"/>

    <!-- Rviz -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_explorer)/rviz/robot_prometheus_frontier_explorer.rviz"/>

</launch>
