<?xml version="1.0"?>
<!-- This URDF was created by Xuan-Nghia Huynh (hxnghia99@gmail.com)
     Commit Version: 1.4.2-27-gc3b3358  Build Version: 1.4.6891.25992
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="thesis_robot_modeling" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find thesis_robot_modeling)/urdf/thesis_robot_modeling.gazebo.xacro"/>

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>


  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="2.1405"/>
      <inertia
        ixx="0.0083821"
        ixy="1.9271E-07"
        ixz="-2.348E-06"
        iyy="0.00983"
        iyz="-1.5808E-07"
        izz="0.0092412" />
    </inertial>

    <visual>
      <origin xyz="-0.18 -0.2023 -0.182" rpy="1.57 0 1.57" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.5 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>


  <joint name="left_wheel_joint" type="fixed">
    <origin xyz="-0.071027 0.18221 -0.046496" rpy="-1.57 1.57 0" />
    <parent link="base_link" />
    <child link="left_wheel_link" />
    <axis xyz="0 0 1" />
  </joint>


  <link name="left_wheel_link">
    <inertial>
      <!--origin xyz="-8.4516E-06 -2.8895E-06 0.021476" rpy="0 0 0" /-->
      <origin xyz="0 0 0" />
      <mass value="0.14993" />
      <inertia
        ixx="0.000153"
        ixy="4.7056E-08"
        ixz="-3.2026E-10"
        iyy="0.00015294"
        iyz="1.7887E-09"
        izz="0.00027004" />
    </inertial>

    <visual>
      <origin xyz="0.0722 -0.0505 -0.1824" rpy="0 1.57 0" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/left_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>

    <collision>
      <!--origin xyz="0 0 0" rpy="0 0 0" /-->
      <origin xyz="0.0722 -0.0505 -0.1824" rpy="0 1.57 0" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>


  <joint name="right_wheel_joint" type="fixed">
    <origin xyz="-0.071027 -0.18221 -0.046496" rpy="-1.57 1.57 0" />
    <parent link="base_link" />
    <child link="right_wheel_link" />
    <axis xyz="0 0 1" />
  </joint>


  <link name="right_wheel_link">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.14993" />
      <inertia
        ixx="0.000153"
        ixy="4.7056E-08"
        ixz="-3.2022E-10"
        iyy="0.00015294"
        iyz="1.7886E-09"
        izz="0.00027004" />
    </inertial>

    <visual>
      <origin xyz="0.0722 -0.0505 0.1824" rpy="0 1.57 0" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/right_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0.0722 -0.0505 0.1824" rpy="0 1.57 0" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>


  <joint name="caster_wheel_joint" type="fixed">
    <origin xyz="0.10103 0 -0.077" rpy="-1.5708 0 0" />
    <parent link="base_link" />
    <child link="caster_wheel_link" />
    <axis xyz="0 0 0" />
    <safety_controller k_velocity="0" />
  </joint>


  <link name="caster_wheel_link">
    <inertial>
      <origin xyz="-6.3255E-14 0.016165 -0.027781" rpy="0 0 0" />
      <mass value="0.014315" />
      <inertia
        ixx="1.9757E-06"
        ixy="1.3656E-22"
        ixz="-3.8887E-19"
        iyy="2.6804E-06"
        iyz="-2.5223E-22"
        izz="1.805E-06" />
    </inertial>

    <visual>
      <origin xyz="-0.1 0.02 0" rpy="3.14 -1.57 0" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/caster_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="-0.1 0.02 0" rpy="3.14 -1.57 0" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/caster_wheel_link.STL" />
      </geometry>
    </collision>
  </link>


  <joint name="rplidar_joint" type="fixed">
    <origin xyz="-0.01 0 0.335" rpy="0 0 3.14" />
    <parent link="base_link" />
    <child link="lidar_link" />
  </joint>


  <link name="lidar_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.021237" />
      <inertia
        ixx="0.00016144"
        ixy="2.1931E-07"
        ixz="-4.8964E-07"
        iyy="0.00020117"
        iyz="-2.029E-05"
        izz="0.00010111" />
    </inertial>

    <visual>
      <origin xyz="-0.01 0 -0.785" rpy="1.57 0 -1.57" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/lidar_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="-0.01 0 -0.785" rpy="1.57 0 -1.57" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>



  <joint name="realsense_joint" type="fixed">
    <origin xyz="0.079 0.001 0.285" rpy="-1.57 0 -1.57" />
    <parent link="base_link" />
    <child link="realsense_link" />
    <axis xyz="0 0 0" />
    <safety_controller k_velocity="0" />
  </joint>



  <link name="realsense_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.010349" />
      <inertia
        ixx="1.4187E-05"
        ixy="-1.975E-07"
        ixz="-4.2778E-07"
        iyy="4.9635E-05"
        iyz="-5.1774E-08"
        izz="5.6006E-05" />
    </inertial>

    <visual>
      <origin xyz="0 0.735 -0.078" rpy="3.14 3.14 0" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/realsense_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0.735 -0.078" rpy="3.14 3.14 0" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/realsense_link.STL" />
      </geometry>
    </collision>
  </link>


  <joint name="imu_joint" type="fixed">
    <origin xyz="0.039397 -0.071997 0.138" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="imu_link" />
  </joint>


  <link name="imu_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.00064128"/>
      <inertia
        ixx="1.1862E-08"
        ixy="1.3728E-14"
        ixz="1.2576E-13"
        iyy="4.4714E-08"
        iyz="7.9871E-13"
        izz="3.3118E-08" />
    </inertial>
    
    <visual>
      <origin xyz="-0.038 0.0713 -0.415" rpy="1.57 0 1.57" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/imu_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="-0.038 0.0713 -0.415" rpy="1.57 0 1.57" />
      <geometry>
        <mesh filename="package://thesis_robot_modeling/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>


<joint name="camera_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="realsense_link" />
    <child link="camera_link" />
    <axis xyz="0 0 0" />
  </joint>
<link name="camera_link"/>

<joint name="camera_depth_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="realsense_link" />
    <child link="camera_depth_frame" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="camera_depth_frame"/>

<joint name="camera_color_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="realsense_link" />
    <child link="camera_color_frame" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="camera_color_frame"/>

  <joint name="camera_depth_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="realsense_link" />
    <child link="camera_depth_optical_frame" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="camera_depth_optical_frame"/>

<joint name="camera_color_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="realsense_link" />
    <child link="camera_color_optical_frame" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="camera_color_optical_frame"/>




</robot>